#content {
  padding: 0 40px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 60px 0;
}

h3 {
  text-align: center;
  font-size: 20px;
  line-height: 170%;
  align-self: center;
  color: #000000a0;
  margin-bottom: 100px;
}

h3 a {
  color: black !important;
  text-decoration: underline;
  font-weight: 600;
}
