:root {
  --technologyStart: #ff0091;
  --technologyEnd: #ff8a00;
  --utilitiesStart: #ff7a00;
  --utilitiesEnd: #eff400;
  --communicationServicesStart: #00bd02;
  --communicationServicesEnd: #ccff00;
  --industrialsStart: #00b2ff;
  --industrialsEnd: #00ff75;
  --financialStart: #0038ff;
  --financailEnd: #00f7ff;
  --consumerCyclicalStart: #6900ff;
  --consumerCyclicalEnd: #cc00ff;
  --basicMaterialsStart: #d400ff;
  --basicMaterialsEnd: #ff0063;
  --healthcareStart: #823b00;
  --healthcareEnd: #ffb545;
  --consumerDefensiveStart: black;
  --consumerDefensiveEnd: #bbb;
  --energyStart: #ff0063;
  --energyEnd: #ff46d1;
  --realEstateStart: rgb(161, 0, 0);
  --realEstateEnd: rgb(255, 115, 0);
}

.technologyGradient {
  background: linear-gradient(
    to right,
    var(--technologyStart),
    var(--technologyEnd)
  );
}

.technologyStart {
  stop-color: var(--technologyStart);
}

.technologyEnd {
  stop-color: var(--technologyEnd);
}

.utilitiesGradient {
  background: linear-gradient(
    to right,
    var(--utilitiesStart),
    var(--utilitiesEnd)
  );
}

.utilitiesStart {
  stop-color: var(--utilitiesStart);
}

.utilitiesEnd {
  stop-color: var(--utilitiesEnd);
}

.communicationServicesGradient {
  background: linear-gradient(
    to right,
    var(--communicationServicesStart),
    var(--communicationServicesEnd)
  );
}

.communicationServicesStart {
  stop-color: var(--communicationServicesStart);
}

.communicationServicesEnd {
  stop-color: var(--communicationServicesEnd);
}

.industrialsGradient {
  background: linear-gradient(
    to right,
    var(--industrialsStart),
    var(--industrialsEnd)
  );
}

.industrialsStart {
  stop-color: var(--industrialsStart);
}

.industrialsEnd {
  stop-color: var(--industrialsEnd);
}

.financialGradient {
  background: linear-gradient(
    to right,
    var(--financialStart),
    var(--financailEnd)
  );
}

.financialStart {
  stop-color: var(--financialStart);
}

.financialEnd {
  stop-color: var(--financailEnd);
}

.consumerCyclicalGradient {
  background: linear-gradient(
    to right,
    var(--consumerCyclicalStart),
    var(--consumerCyclicalEnd)
  );
}

.consumerCyclicalStart {
  stop-color: var(--consumerCyclicalStart);
}

.consumerCyclicalEnd {
  stop-color: var(--consumerCyclicalEnd);
}

.basicMaterialsGradient {
  background: linear-gradient(
    to right,
    var(--basicMaterialsStart),
    var(--basicMaterialsEnd)
  );
}

.basicMaterialsStart {
  stop-color: var(--basicMaterialsStart);
}

.basicMaterialsEnd {
  stop-color: var(--basicMaterialsEnd);
}

.healthcareGradient {
  background: linear-gradient(
    to right,
    var(--healthcareStart),
    var(--healthcareEnd)
  );
}

.healthcareStart {
  stop-color: var(--healthcareStart);
}

.healthcareEnd {
  stop-color: var(--healthcareEnd);
}

.consumerDefensiveGradient {
  background: linear-gradient(
    to right,
    var(--consumerDefensiveStart),
    var(--consumerDefensiveEnd)
  );
}

.consumerDefensiveStart {
  stop-color: var(--consumerDefensiveStart);
}

.consumerDefensiveEnd {
  stop-color: var(--consumerDefensiveEnd);
}

.energyGradient {
  background: linear-gradient(to right, var(--energyStart), var(--energyEnd));
}

.energyStart {
  stop-color: var(--energyStart);
}

.energyEnd {
  stop-color: var(--energyEnd);
}

.realEstateGradient {
  background: linear-gradient(
    to right,
    var(--realEstateStart),
    var(--realEstateEnd)
  );
}

.realEstateStart {
  stop-color: var(--realEstateStart);
}

.realEstateEnd {
  stop-color: var(--realEstateEnd);
}
