:root {
  --technologyStart: #ff0091;
  --technologyEnd: #ff8a00;
  --utilitiesStart: #ff7a00;
  --utilitiesEnd: #eff400;
  --consumerGoodsStart: #00bd02;
  --consumerGoodsEnd: #ccff00;
  --industrialGoodsStart: #00b2ff;
  --industrialGoodsEnd: #00ff75;
  --financialStart: #0038ff;
  --financailEnd: #00f7ff;
  --servicesStart: #6900ff;
  --servicesEnd: #cc00ff;
  --basicMaterialsStart: #d400ff;
  --basicMaterialsEnd: #ff0063;
  --healthcareStart: #822f00;
  --healthcareEnd: #ffb545;
}

.technologyGradient {
  background: linear-gradient(
    to right,
    var(--technologyStart),
    var(--technologyEnd)
  );
}

.technologyStart {
  stop-color: var(--technologyStart);
}

.technologyEnd {
  stop-color: var(--technologyEnd);
}

.utilitiesGradient {
  background: linear-gradient(
    to right,
    var(--utilitiesStart),
    var(--utilitiesEnd)
  );
}

.utilitiesStart {
  stop-color: var(--utilitiesStart);
}

.utilitiesEnd {
  stop-color: var(--utilitiesEnd);
}

.consumerGoodsGradient {
  background: linear-gradient(
    to right,
    var(--consumerGoodsStart),
    var(--consumerGoodsEnd)
  );
}

.consumerGoodsStart {
  stop-color: var(--consumerGoodsStart);
}

.consumerGoodsEnd {
  stop-color: var(--consumerGoodsEnd);
}

.industrialGoodsGradient {
  background: linear-gradient(
    to right,
    var(--industrialGoodsStart),
    var(--industrialGoodsEnd)
  );
}

.industrialGoodsStart {
  stop-color: var(--industrialGoodsStart);
}

.industrialGoodsEnd {
  stop-color: var(--industrialGoodsEnd);
}

.financialGradient {
  background: linear-gradient(
    to right,
    var(--financialStart),
    var(--financailEnd)
  );
}

.financialStart {
  stop-color: var(--financialStart);
}

.financialEnd {
  stop-color: var(--financailEnd);
}

.servicesGradient {
  background: linear-gradient(
    to right,
    var(--servicesStart),
    var(--servicesEnd)
  );
}

.servicesStart {
  stop-color: var(--servicesStart);
}

.servicesEnd {
  stop-color: var(--servicesEnd);
}

.basicMaterialsGradient {
  background: linear-gradient(
    to right,
    var(--basicMaterialsStart),
    var(--basicMaterialsEnd)
  );
}

.basicMaterialsStart {
  stop-color: var(--basicMaterialsStart);
}

.basicMaterialsEnd {
  stop-color: var(--basicMaterialsEnd);
}

.healthcareGradient {
  background: linear-gradient(
    to right,
    var(--healthcareStart),
    var(--healthcareEnd)
  );
}

.healthcareStart {
  stop-color: var(--healthcareStart);
}

.healthcareEnd {
  stop-color: var(--healthcareEnd);
}
