h3 {
  font-size: 30px;
  text-align: center;
  margin: 60px 0;
}

#options {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.optionHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
}

h4 {
  font-size: 28px;
  width: 100%;
  text-align: center;
}

select {
  display: block;
  font-size: 18px;
  padding: 17px 34px 12px 20px;
  border: none;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1) !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin-top: 10px;
  background-image: url("https://img.icons8.com/small/64/000000/menu-2.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 94%;
}

#pageControls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.controlGroup {
  display: flex;
}

#pageControls a:not(.proMarker) {
  display: flex;
  align-items: center;
  padding: 13px 20px 10px 20px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.16) !important;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

#pageControls a:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08) !important;
}

.inactive {
  opacity: 0.3;
  pointer-events: none;
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 7vmin;
    margin: 12vmin 0;
  }
  h4 {
    font-size: 7vmin;
  }
  .optionHolder {
    margin: 5vmin 0;
  }
  select {
    font-size: 5vmin;
  }
  #pageControls > a {
    font-size: 3.4vmin;
    margin: 0 1vmin;
    padding: 4vmin 6vmin 3vmin 6vmin;
  }
}
