#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  padding-bottom: 100px;
}

h3.potential {
  margin-top: 40px;
}

#svgContainer {
  margin-top: -40px;
  margin-bottom: 10px;
  width: 80vw;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#svgStack {
  width: calc(100% - 70px);
}

#axis {
  width: 70px;
  padding-left: 10px;
}

.tick {
  font-size: 14px;
  position: absolute;
  transform: translateY(-40%);
  opacity: 0.5;
}

#svgStack .svgHolder {
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 0;
}
#svgStack .svgHolder:first-child {
  position: relative !important;
}
/* so that height is chosen based on svg */
#svgStack .current svg {
  stroke: #ff6255;
  opacity: 0.8;
  overflow: visible;
}
#svgStack .suggested svg {
  stroke: var(--darkViolet);
  opacity: 0.25;
}

.overlayRange {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.5;
}

.key {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.key span {
  margin: 0 14px;
  text-align: center;
  line-height: 160%;
}

.key .currentLabel {
  color: var(--brightOrange);
}

.key .suggestedLabel {
  color: var(--violet);
}

h3:not(.proMarker) {
  font-size: 30px;
  margin: 40px 0 10px 0;
  width: 100%;
  text-align: center;
  line-height: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h4 {
  font-size: 18px;
  margin: 40px 0 30px 0;
  max-width: 800px;
  text-align: center;
  line-height: 160%;
}

.desc {
  font-size: 16px;
  opacity: 0.5;
}

textarea {
  width: 100%;
  max-width: 500px;
  font-size: 24px;
  padding: 18px 20px 12px 20px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1) !important;
  resize: none;
  text-transform: uppercase;
  line-height: 150%;
}

#companies {
  margin-top: -20px;
}

#companies h3 {
  margin-bottom: 40px;
}

.subNote {
  font-size: 18px;
  width: 100%;
}

.proMarker {
  top: 0 !important;
  transform: translateY(-0.25em) !important;
}

@media screen and (max-width: 500px) {
  #companies h3 {
    max-width: 90vmin;
  }
  h3 {
    font-size: 7vmin !important;
    margin-top: 12vmin !important;
  }
  h4 {
    font-size: 5vmin;
  }
  .desc {
    font-size: 4.3vmin;
  }
  textarea {
    font-size: 4.5vmin;
    padding: 5vmin 4vmin 4vmin 4vmin;
  }
}
