* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  position: relative;
  box-sizing: border-box;
  position: absolute;
  overflow: visible;
}

body {
  /* border: 1px solid green; */
  width: 1080px;
  min-height: 1080px !important;
  /* transform: scale(0.3); */
}

img {
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.strong {
  position: static;
  font-weight: 600;
}

h1 {
  font-size: 120px;
  font-weight: 600;
  top: 80px;
  left: 70px;
  background-color: #ffffff80;
}

h2 {
  font-size: 44px;
  top: 220px;
  left: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 700px;
  background-color: #ffffff80;
}

#rank {
  width: 100%;
  top: 710px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rank > * {
  position: static;
  display: inline;
}

h3 {
  font-size: 120px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

/* h3, sup {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
} */

sup {
  font-weight: 400;
  font-size: 50%;
  position: static;
  vertical-align: top;
}

sup.strong {
  font-size: 70%;
}

h4 {
  font-size: 70px;
  /* -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; */
}

#sectorRank {
  font-size: 50px;
  top: 850px;
  text-align: center;
  width: 100%;
}

#cat {
  position: static;
  font-size: 70%;
  padding-bottom: 50px;
}

h5 {
  font-size: 34px;
  opacity: 0.5;
  bottom: 20px;
}

#date {
  left: 20px;
}

#site {
  right: 20px;
}

svg {
  width: 1000px;
  left: 40px;
  top: 100px;
  z-index: -1;
}

h6 {
  font-size: 40px;
  right: 40px;
  top: 600px;
  opacity: 0.5;
  background-color: white;
}
