h3 {
  font-size: 36px;
  text-align: center;
  margin: 60px 0 60px 0;
  font-weight: 600;
}

h4 {
  font-size: 26px;
  text-align: center;
  margin-top: 60px;
}

#features {
  margin: 0 -30px;
  margin-top: -50px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  padding: 50px;
  padding-left: 60px;
}

#featuresInner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.2s ease, transform 0.25s ease;
  border-radius: 10px;
  margin: 10px;
  min-width: 250px;
  padding: 30px 20px;
}

.feature:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  transform: scale(1.05);
}

ion-icon {
  font-size: 40px;
  color: #ff6255;
  --ionicon-stroke-width: 32px;
}

.featureTitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
}

.featureText {
  font-size: 15px;
  margin-top: 14px;
  line-height: 160%;
  text-align: center;
}

.feature:not(:last-of-type) .featureText::after {
  content: "Try it out";
  color: rgba(0, 0, 90, 0.8);
  font-weight: 600;
  font-size: 18px;
  background-color: var(--lightViolet);
  filter: brightness(98%) saturate(200%);
  padding: 10px 20px 6px 20px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 22px;
  display: block;
  width: 100px;
  border: 2px dashed var(--middleViolet);
}

.seeHow::after {
  content: "See how" !important;
}

.download::after {
  content: "Download" !important;
}

.tryItOut {
}

#spacer {
  min-width: 60px;
}

table {
  margin-bottom: 20px;
  align-self: center;
}

tr {
  text-align: center;
}

th {
  font-size: 26px;
  padding-bottom: 20px;
}

td {
  font-size: 18px;
  padding: 1.2em 2em 1em 2em;
  line-height: 160%;
  border: 1px solid var(--middleViolet);
}

td:not(.strong),
sup {
  color: #00000080;
}

td:first-child {
  color: var(--darkViolet);
  font-size: 16px;
  opacity: 0.8;
  border: none;
  padding-left: 0;
}

.proHeader {
  display: inline-block;
  background-color: var(--violet);
  color: white;
  padding: 8px 12px 2.5px 12px;
  margin: 0 auto;
  border-radius: 8px;
  font-size: 100%;
  line-height: 120% !important;
}

tr:nth-of-type(2) td {
  border-top: none;
}

tr:last-of-type td {
  border-bottom: none;
}

td:first-child {
  border-left: none;
}

td:nth-child(2) {
  border-left: none;
}

td:last-child {
  border-right: none;
}

.goPro {
  text-align: center;
  font-size: 26px;
  margin: 0 auto;
  margin-top: 40px;
  transition: opacity 0.2s ease;
  background-color: var(--lightViolet);
  padding: 40px 50px 36px 50px;
  border-radius: 12px;
  max-width: 700px;
  border: 4px dashed var(--middleViolet);
  line-height: 200%;
}

.goPro:hover {
  opacity: 0.5;
}

.goPro .proHeader {
  margin: 0 12px;
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 7vmin;
    margin: 12vmin 0 12vmin 0;
  }
  td {
    font-size: 3.2vw;
    padding: 1.2em 1.5em 1em 1.5em;
  }
  td:first-child {
    font-size: 2.5vw;
  }
  table {
    margin-top: 0;
  }
}
