#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
}

h3 {
  font-size: 30px;
  margin-top: 60px;
}

input {
  font-size: 26px;
  text-align: center;
  border: none;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.12);
  height: 60px;
  width: 150px;
  padding-top: 5px;
  margin-top: 50px;
  border-radius: 8px;
  text-transform: uppercase;
  z-index: 999;
  font-weight: 600;
}

input::placeholder {
  opacity: 0.2;
}

.name {
  font-size: 24px;
  padding: 30px 20px 0 20px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
  text-align: center;
}

.sector {
  font-size: 16px;
  color: #888 !important;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
  padding: 10px 20px 5px 20px;
}

svg {
  width: 100%;
  margin-top: -40px;
  margin-bottom: -20px !important;
}

.statsHolder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
  margin-top: 40px;
}

.statsHolder:nth-of-type(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.statsHolder:nth-of-type(1) .stat {
  margin: 10px 24px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.statValue {
  font-size: 26px;
  font-weight: 600;
}

.statDesc {
  font-size: 14px;
}

.needsToRender {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.notFoundText {
  font-size: 22px;
  margin-top: 50px;
  text-align: center;
  max-width: 800px;
  line-height: 160%;
}

.needsToRender .strong {
  font-size: 26px;
  font-weight: 600;
  line-height: 160%;
}

ol {
  margin-top: 20px;
}

li {
  font-size: 16px;
  line-height: 34px;
}

.widgetHolder {
  margin-top: 40px;
  min-width: 100%;
  min-height: 500px;
  overflow-y: hidden;
}

iframe {
  position: absolute;
  width: 100%;
  min-height: 100% !important;
}

#fundamentalsHolder {
  height: 830px;
}

#fundamentalsHolder iframe {
  top: -95px;
  width: 80% !important; /* to center content */
  min-width: 500px;
  transform-origin: top left;
  transform: scale(1.25);
}

.censorBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: white;
}

@media screen and (max-width: 700px) {
  .censorBar {
    position: fixed;
    width: 30px;
  }
}

.likeHolder {
  left: 14px;
  top: -1px;
  cursor: pointer;
}

.likeHolder img {
  position: absolute;
  width: 25px;
}

.likeHolder .outline {
  opacity: 0.3;
}

.likeHolder .foreground {
  opacity: 0;
  filter: opacity(0.1) drop-shadow(0 0 0 black) saturate(300%);
  transition: opacity 0.2s ease, filter 0.2s ease;
  z-index: 9;
}

.likeHolder .foreground:not(.liked):hover {
  opacity: 1;
  filter: opacity(0.1) drop-shadow(0 0 0 black) saturate(300%);
}
.liked {
  opacity: 1 !important;
  filter: opacity(0.4) drop-shadow(0 0 0 #ff0051) saturate(300%) !important;
}

.provided {
  font-size: 12px;
  opacity: 0.5;
  margin-top: 6px;
  transition: opacity 0.2s ease;
}

.provided:hover {
  opacity: 0.3;
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 7vmin;
    margin-top: 12vmin;
  }
  input {
    font-size: 6vmin;
  }
  .name {
    font-size: 6vmin;
  }
  .sector {
    font-size: 4vmin;
  }
  svg {
    margin-top: 0 !important;
  }
  .statsHolder {
    flex-wrap: wrap;
    justify-content: center;
  }
  .statValue {
    font-size: 7vmin;
  }
  .statDesc {
    font-size: 3.5vmin;
  }
  .stat {
    margin: 3vmin 2vmin;
    width: 37vmin;
  }
  #tradingview_e59b1 {
    width: 150%;
    transform: scale(0.66);
    margin-top: -20vmin;
    margin-bottom: -30vmin;
  }
  #tradingview_e59b1 div {
    height: 200vmin !important;
  }
  .notFoundText {
    font-size: 5vmin;
  }
  li {
    font-size: 3.4vmin;
  }
}
